table {
    width: 90%;
    margin: 20px 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  
  th, td {
    text-align: left;
    border: 1px solid #999;
    padding: 10px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  a {
    align-items: center;
    appearance: none;
    background-color: #3e8e41;
    color: #fff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
  }
  
  a:hover {
    background-color: #0d1116;
  }

  tbody tr:hover {
    background: rgba(192, 192, 192, 0.651);
  }

  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #D6D6E7;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
    
  input[type="submit"] {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
    
  input[type="submit"]:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  form {
    width: 50%;
  }

  input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 2px solid #999;
    border-radius: 4px;
    vertical-align: middle; /* aligns the checkbox vertically */
    transition: all 0.3s ease-in-out;
  }
  
  input[type="checkbox"]:checked {
    border-color: #3c4fe0;
    background-color: #3c4fe0;
    background-image: url('https://cdn.jsdelivr.net/gh/voodootikigod/logo.js/logojs-white.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
  }
  
  label[for="completed"] {
    display: inline-block;
    padding-right: 10px;
  }

  #delete-form, #delete-form {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }
  
  
  